<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <!-- logo  -->
            <a href="/home" class="navbar-brand">
                <img src="../static/images/logo.png" alt="" alt style="height: inherit; width: inherit;" />
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a href="/home" class="nav-link dropdown-toggle">Home</a>

                    </li>
                    <li class="nav-item" style="margin-left: inherit;">
                        <a href="/admin" class="nav-link">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Signup</a>
                    </li>

                </ul>
            </div>

            <!-- right side of header  -->
            <div class="header-right">
                <ul class="social-icons list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-itunes"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>

                <!-- buttons  -->
                <div class="header-buttons">
                    <button class="search icon-button">
                        <i class="icon-magnifier"></i>
                    </button>
                    <button class="burger-menu icon-button">
                        <span class="burger-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="canvas-menu d-flex align-items-end flex-column">
    <button class="btn-close" aria-label="Close" type="button"></button>

    <div class="logo">
        <img src="../static/images/logo.png" alt="" />
    </div>
    <nav>
        <ul class="vertical-menu">
            <li class="active">
                <a href="/home">Home</a>

            </li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
        <li class="list-inline-item">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><i class="fab fa-itunes"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
    </ul>
</div>

<!-- search pop up  -->
<div class="search-popup">
    <button class="btn-close" aria-label="Close" type="button"></button>

    <div class="search-content">
        <div class="text-center">
            <h3 class="mb-4 mt-0">Press ESC to close</h3>
        </div>

        <form action="" class="d-flex search-form">
            <input type="search" placeholder="Search and press enter ..." aria-label="Search"
                class="form-control me-2" />
            <button class="btn btn-default btn-lg" type="submit">
                <i class="icon-magnifier"></i>
            </button>
        </form>
    </div>
</div>